<div class="row">
  <div class="col-md-8 offset-md-2 mt-4">
    <% if logged_in? %>
      <p id="notice"><%= notice %></p>
      <h1>Articles</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Body</th>
            <th>Developer</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @articles.each do |article| %>
            <tr>
              <td><%= article.title %></td>
              <td><%= article.body %></td>
              <td><%= article.developer %></td>
              <td><%= link_to 'Show', article %></td>
              <td><%= link_to 'Edit', edit_article_path(article) %></td>
              <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <br>
      <%= link_to 'New Article', new_article_path %>
    <% else %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="text-center">比較記事一覧</th>
          </tr>
        </thead>
        <tbody>
          <% @articles.each do |article| %>
            <tr>
              <td class="text-center"><%= link_to article.title, article %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
    
    <div class="mt-4">
      <%= form_with(model: @history , local: true) do |f| %>
      <%= render "layouts/errors_messages", model: f.object %>
      <div class="form-group text-center">
        <%= f.label :name, "楽天で商品を検索※２文字以上15文字以内" %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <%= f.submit "検索", class: "btn btn-primary btn-block" %>
    <% end %>
    </div>
    
    <div>
      <p class="text-center mt-4">最新情報</p>
      <ul class="nav nav-tabs nav-justified mb-3">
        <li class="nav-item"><a href="<%= articles_path %>" class="nav-link <%= "active" %>">楽天</a></li>
        <li class="nav-item"><a href="<%= ama_path %>" class="nav-link <%= "active" if current_page?(ama_path) %>">Amazon</a></li>
        <li class="nav-item"><a href="<%= histories_path %>" class="nav-link <%= "active" if current_page?(histories_path) %>">検索履歴</a></li>
      </ul>
      <%= render "articles/rakuten" %>
    </div>
  </div>
</div>